$back: #001220;




* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  }

#back{
  background-image: url("../stacked-waves-haikei.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 15%;
  

}


.svg-image {
  width: 60%;
  height: 60%;
}

section {
  h1 {
    padding-top: 1%;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  padding: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 10%;

  // border effects
  border-top-right-radius: 10em 10em;
  border-top-left-radius: 10em 10em;
  border-bottom-right-radius: 10em 10em;
  border-bottom-left-radius: 10em 10em;
  
  box-shadow: 8px 8px 50px rgba(76, 24, 10, 0.7);

  
  background: rgba(64, 51, 77, 0.5);
  border-bottom: 4px solid #ad5953;
  border-right: 8px solid #ad5953;
  border-top: 2px solid #ad5953;

  backdrop-filter: invert(90%) ;
}



#land-page {
  color: darkgoldenrod;
}

#p1 {
  h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 700;
    color: #facb64;
    
    text-shadow: 1px 1px 1px #9a6a23,
        1px 2px 1px #9a6a23,
        1px 3px 1px #9a6a23,
        1px 4px 1px #9a6a23,
        
    1px 6px 6px rgba(16,16,16,0.4),
    1px 8px 10px rgba(16,16,16,0.2),
  }
  
  img {
    margin-top: 5%;
    margin-bottom: 5%;
    border-top-right-radius: 10em 10em;
    border-top-left-radius: 10em 10em;
    border-bottom-right-radius: 10em 10em;
    border-bottom-left-radius: 10em 10em;
    border-bottom: 2px solid #fbae3c;
    border-right: 4px solid #fbae3c;
    box-shadow: 8px 8px 50px rgba(253, 128, 93, 0.5);
    // box-shadow: 8px 8px 50px rgba(0,0,0,0.5);
    width: 50%;
  }
  p {
    
  
    
  
  }
}

#p2 {
  color: #facb64;
  
}

#p3 {
  color: #facb64;
}

#p4 {
  h1 {
    padding-top: 0%;
  }
  color: #facb64;

  height: 50%;
  
  margin-bottom: 0%;
}

body {
  
  div {
    nav {
      
      
      ul {
        
        
        padding-top: 2%;
        backdrop-filter: invert(90%);
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom-right-radius: 10em 10em;
        border-bottom-left-radius: 10em 10em;
        box-shadow: 1px 1px 1px #9a6a23,
        1px 2px 1px #9a6a23,
        1px 3px 1px #9a6a23,
        1px 4px 1px #9a6a23,
        
        1px 6px 6px rgba(16,16,16,0.4),
        1px 8px 10px rgba(16,16,16,0.2),;
        
        li {
          padding-bottom: 2%;
          transition: all 0.2s;
          a {
            
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.5vw;
            font-weight: 700;
            color: #facb64;
            text-shadow: 1px 1px 1px #9a6a23,
                1px 2px 1px #9a6a23,
                1px 3px 1px #9a6a23,
                1px 4px 1px #9a6a23,
                
                1px 6px 6px rgba(16,16,16,0.4),
                1px 8px 10px rgba(16,16,16,0.2),;

            text-decoration: none;
            
          
          }
          
        }
        li:hover {
          transform: scale(1.2);

        }
      }
    }
  
  }
  
}



