// $back: #001220;

* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  }

.back{
  background-image: url("../stacked-waves-haikei.svg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 15%;
}


.svg-image {
  width: 60%;
  height: 60%;
}

section {
  h1 {
    padding-top: 1%;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  padding: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7%;
  margin-bottom: 20%;

  // border effects
  border-top-right-radius: 10em 10em;
  border-top-left-radius: 10em 10em;
  border-bottom-right-radius: 10em 10em;
  border-bottom-left-radius: 10em 10em;
  
  box-shadow: 8px 8px 50px rgba(76, 24, 10, 0.7);


  background: rgba(64, 51, 77, 0.5);
  border-bottom: 4px solid #ad5953;
  border-right: 8px solid #ad5953;
  border-top: 2px solid #ad5953;

  backdrop-filter: invert(90%) ;
  
}


.p1 {
  h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 700;
    color: #facb64;
    
    text-shadow: 1px 1px 1px #9a6a23,
        1px 2px 1px #9a6a23,
        1px 3px 1px #9a6a23,
        1px 4px 1px #9a6a23,
        
    1px 6px 6px rgba(16,16,16,0.4),
    1px 8px 10px rgba(16,16,16,0.2),
  }

  p {
    padding-top: 20%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    background-color: #94436C;
    border-top-right-radius: 10em 10em;
    border-top-left-radius: 10em 10em;
    border-bottom-right-radius: 10em 10em;
    border-bottom-left-radius: 10em 10em;
    border-bottom: 2px solid #632e48;
    border-right: 4px solid #4b2236;
  }
  
  
  img {
    margin-top: 5%;
    margin-bottom: 5%;
    border-top-right-radius: 10em 10em;
    border-top-left-radius: 10em 10em;
    border-bottom-right-radius: 10em 10em;
    border-bottom-left-radius: 10em 10em;
    border-bottom: 2px solid #632e48;
    border-right: 4px solid #4b2236;
    
    // box-shadow: 8px 8px 50px rgba(0,0,0,0.5);
    width: 50%;
    background:#94436C;
  }
  
}

.p2 {
  color: #facb64;
  
}

.p3 {
  color: #facb64;
}

.p4 {
  h1 {
    padding-top: 0%;
  }
  color: #facb64;

  padding-bottom: 0%;
  
  margin-bottom: 0%;
}

body {
  
  div {
    
    nav {
      
      
      ul {
        
        
        padding-top: 2%;
        backdrop-filter: invert(90%);
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom-right-radius: 10em 10em;
        border-bottom-left-radius: 10em 10em;
        box-shadow: 1px 1px 1px #9a6a23,
        1px 2px 1px #9a6a23,
        1px 3px 1px #9a6a23,
        1px 4px 1px #9a6a23,
        
        1px 6px 6px rgba(16,16,16,0.4),
        1px 8px 10px rgba(16,16,16,0.2),;


        
        li {
          
          padding-bottom: 1.5%;
          transition: all 0.2s;
          a {
            
            font-family: 'Courier New', Courier, monospace;
            font-size: 1.5vw;
            font-weight: 700;
            color: #facb64;
            text-shadow: 1px 1px 1px #9a6a23,
                1px 2px 1px #9a6a23,
                1px 3px 1px #9a6a23,
                1px 4px 1px #9a6a23,
                
                1px 6px 6px rgba(16,16,16,0.4),
                1px 8px 10px rgba(16,16,16,0.2),;

            text-decoration: none;
            
          
          }
          
        }
        li:hover {
          transform: scale(1.5);
          a {
            color: #ffecb8;
          }
          

        }
      }
    }
    
  }
  
  
}





#highlight {
    transform: scale(1.5);
    a{

      --color-1: #f8a275;
      --color-2: #88d5f7;
      --color-3: #fb9aba;
      animation: color-animation 4s linear infinite;
      color: #ffecb8;
        text-shadow: 1px 1px 1px #9a6a23,
            1px 2px 1px #9a6a23,
            1px 3px 1px #9a6a23,
            1px 4px 1px #9a6a23,
            
            1px 6px 6px rgba(16,16,16,0.4),
            1px 8px 10px rgba(16,16,16,0.2),;

        text-decoration: none;
    }
  }


  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }