* {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

html {
  background-image: url("../stacked-waves-haikei.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.svg-image {
  width: 60%;
  height: 60%;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 10%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7%;
  margin-bottom: 10%;
  border-top-right-radius: 10em 10em;
  border-top-left-radius: 10em 10em;
  border-bottom-right-radius: 10em 10em;
  border-bottom-left-radius: 10em 10em;
  box-shadow: 8px 8px 50px rgba(76, 24, 10, 0.7);
  background: rgba(62, 131, 196, 0.3);
  border-bottom: 4px solid #ad5953;
  border-right: 8px solid #ad5953;
  border-top: 2px solid #ad5953;
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
}
section h1 {
  padding-top: 1%;
}

#landing-page {
  margin-right: 5%;
  display: grid;
  grid-template-columns: 3fr 4fr;
}
#landing-page #p1-boxes {
  background-color: #1b898d;
  max-height: 400px;
  border-top-right-radius: 5em 5em;
  border-top-left-radius: 10em 10em;
  border-bottom-right-radius: 10em 10em;
  border-bottom-left-radius: 5em 5em;
}
#landing-page .text-box {
  max-height: 3%;
  padding: 0;
  margin: 0;
  padding-bottom: 5%;
  padding-left: 5%;
  margin-top: 10%;
}
#landing-page h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  font-weight: 700;
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
}
#landing-page p {
  color: #f4c014;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
  font-family: monospace;
  font-size: large;
  font-weight: 300;
}
#landing-page p #emoji {
  font-size: 40px;
}
#landing-page img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}
@media only screen and (max-width: 800px) {
  #landing-page {
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    grid-template-columns: 2fr;
  }
  #landing-page .text-box {
    margin-bottom: 20%;
    padding-bottom: 20%;
    padding-right: 10%;
  }
  #landing-page img {
    width: 120%;
  }
}

.p2 {
  padding: 2%;
  max-height: 50px;
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
  color: #facb64;
}
.p2 h1 {
  font-size: xx-large;
  padding-bottom: 1%;
}

.p3 {
  padding: 2%;
  max-height: 50px;
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
}
.p3 h1 {
  font-size: xx-large;
  padding-bottom: 1%;
}

.p4 {
  color: #facb64;
  padding-top: 0%;
  height: 90vh;
  margin-bottom: 0%;
}
.p4 h1 {
  padding-top: 20%;
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
}

body {
  min-height: 150vh;
}
body div nav ul {
  padding-top: 2%;
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-right-radius: 10em 10em;
  border-bottom-left-radius: 10em 10em;
  box-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
}
body div nav ul li {
  padding-bottom: 1.5%;
  transition: all 0.2s;
}
body div nav ul li a {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5vw;
  font-weight: 700;
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  body div nav ul li a {
    font-size: 15px;
  }
}
body div nav ul li:hover {
  transform: scale(1.5);
}
body div nav ul li:hover a {
  color: #ffecb8;
}

#highlight {
  transform: scale(1.5);
}
#highlight a {
  --color-1: #f8a275;
  --color-2: #88d5f7;
  --color-3: #fb9aba;
  -webkit-animation: color-animation 4s linear infinite;
          animation: color-animation 4s linear infinite;
  color: #ffecb8;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
  text-decoration: none;
}

@-webkit-keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
#languages-skills {
  max-height: 60vh;
}
#languages-skills h1 {
  text-align: center;
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
  margin-bottom: 10%;
}
#languages-skills ol {
  list-style: none;
  padding: 0%;
}
#languages-skills #skill-sets {
  grid-template-columns: 150px 150px 120px;
  display: grid;
}
#languages-skills #skill-sets li {
  padding: 0%;
}
@media only screen and (max-width: 600px) {
  #languages-skills #skill-sets {
    grid-template-columns: 120px 120px;
  }
}

article {
  grid-template-columns: 2fr 2fr;
  padding-bottom: 10%;
  display: grid;
  gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (max-width: 600px) {
  article {
    grid-template-columns: 2fr;
  }
}
article div {
  color: #facb64;
  text-shadow: 1px 1px 1px #9a6a23, 1px 2px 1px #9a6a23, 1px 3px 1px #9a6a23, 1px 4px 1px #9a6a23, 1px 6px 6px rgba(16, 16, 16, 0.4), 1px 8px 10px rgba(16, 16, 16, 0.2);
  border-top-right-radius: 5em 5em;
  border-top-left-radius: 10em 10em;
  border-bottom-right-radius: 10em 10em;
  border-bottom-left-radius: 5em 5em;
  background: rgba(87, 144, 197, 0.3);
  border-bottom: 4px solid #ad5953;
  border-right: 8px solid #ad5953;
  border-top: 2px solid #ad5953;
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
  padding: 9%;
  text-align: center;
}
article div ol {
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10%;
}
article div ol h5 {
  padding-bottom: 3%;
}
article div ol li {
  padding-bottom: 1%;
  text-decoration: none;
}
article div a {
  padding: 5%;
  padding-bottom: 20%;
  text-decoration: none;
  color: #ff91ad;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */